/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[10].use[3]!./components/ui/TextType.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.text-type {
    display: inline-block;
}

.text-type__content {
    display: inline;
}

.text-type__cursor {
    display: inline-block;
    margin-left: 2px;
    font-weight: 300;
}

.text-type__cursor--hidden {
    opacity: 0 !important;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[10].use[3]!./components/ui/SpotlightCard.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.card-spotlight {
    position: relative;
    overflow: hidden;
    --mouse-x: 50%;
    --mouse-y: 50%;
    --spotlight-color: rgba(255, 255, 255, 0.25);
}

.card-spotlight::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(
            600px circle at var(--mouse-x) var(--mouse-y),
            var(--spotlight-color),
            transparent 40%
    );
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    z-index: 1;
}

.card-spotlight:hover::before {
    opacity: 1;
}

.card-spotlight > * {
    position: relative;
    z-index: 2;
}
